force-app/main/default/flows/Hotel_Management.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Create_Contact_To_GDrive</name>
        <label>Create Contact To GDrive</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>GoogleDriveUploadService</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>jsonWrapperList</name>
            <value>
                <elementReference>ContactWrapperJSON</elementReference>
            </value>
        </inputParameters>
        <nameSegment>GoogleDriveUploadService</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Customer_Data</name>
        <label>Assign Customer Data</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>First_Name_Var</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>First_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Last_Name_Var</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Last_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Phone_Number_Var</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Phone_Number</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Email_Id_Var</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Email_Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Customer_Address_Var</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Customer_Address</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Customer_Record</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Delux</name>
        <choiceText>Delux</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>EconomicalRoom</name>
        <choiceText>Economy</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>HSN</name>
        <choiceText>HSN</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>SAC</name>
        <choiceText>SAC</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>SuperDelux</name>
        <choiceText>SuperDelux</choiceText>
        <dataType>String</dataType>
    </choices>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;top&quot;,&quot;type&quot;:&quot;simple&quot;}</stringValue>
        </value>
    </customProperties>
    <environments>Default</environments>
    <formulas>
        <name>ContactWrapperJSON</name>
        <dataType>String</dataType>
        <expression>&quot;{\&quot;recordId\&quot;:\&quot;&quot; &amp; {!Create_Customer_Record.Id} &amp; &quot;\&quot;,&quot; &amp;
&quot;\&quot;firstName\&quot;:\&quot;&quot; &amp; {!Create_Customer_Record.FirstName} &amp; &quot;\&quot;,&quot; &amp;
&quot;\&quot;lastName\&quot;:\&quot;&quot; &amp; {!Create_Customer_Record.LastName} &amp; &quot;\&quot;,&quot; &amp;
&quot;\&quot;email\&quot;:\&quot;&quot; &amp; {!Create_Customer_Record.Email} &amp; &quot;\&quot;,&quot; &amp;
&quot;\&quot;phone\&quot;:\&quot;&quot; &amp; {!Create_Customer_Record.Phone} &amp; &quot;\&quot;,&quot; &amp;
&quot;\&quot;createdDate\&quot;:\&quot;&quot; &amp; SUBSTITUTE(TEXT($Flow.CurrentDateTime), &quot; &quot;, &quot;T&quot;) &amp; &quot;\&quot;}&quot;</expression>
    </formulas>
    <interviewLabel>Hotel Management {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Hotel Management</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Booking_Detail_Record</name>
        <label>Create Booking Detail Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Create_Contact_To_GDrive</targetReference>
        </connector>
        <inputAssignments>
            <field>Check_In_Date_Time__c</field>
            <value>
                <elementReference>Check_In_Date_Time</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Check_Out_Date_Time__c</field>
            <value>
                <elementReference>Check_Out_Date_Time</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Customer_Name__c</field>
            <value>
                <elementReference>Create_Customer_Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Number_of_Guests__c</field>
            <value>
                <elementReference>Number_of_Guests</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Room_Number__c</field>
            <value>
                <elementReference>Room_Number</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Room_Type__c</field>
            <value>
                <elementReference>Room_Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sepcial_Requests_Notes__c</field>
            <value>
                <elementReference>Sepcial_Requests_Notes</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Service_Type__c</field>
            <value>
                <elementReference>Service_Type</elementReference>
            </value>
        </inputAssignments>
        <object>Booking_Detail__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Customer_Record</name>
        <label>Create Customer Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Create_Booking_Detail_Record</targetReference>
        </connector>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>Email_Id_Var</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>First_Name_Var</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>Last_Name_Var</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MobilePhone</field>
            <value>
                <elementReference>Phone_Number_Var</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OtherStreet</field>
            <value>
                <elementReference>Customer_Address_Var</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <screens>
        <name>Customer_Booking_Management</name>
        <label>Customer Booking Management</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Customer_Data</targetReference>
        </connector>
        <fields>
            <name>Customer_Infomation</name>
            <fieldText>Customer Infomation</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Customer_Infomation_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>First_Name</name>
                    <dataType>String</dataType>
                    <fieldText>First Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Phone_Number</name>
                    <dataType>String</dataType>
                    <fieldText>Phone Number</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Customer_Address</name>
                    <fieldText>Customer Address</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Customer_Infomation_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Last_Name</name>
                    <dataType>String</dataType>
                    <fieldText>Last Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Email_Id</name>
                    <dataType>String</dataType>
                    <fieldText>Email Id</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Customer_Infomation_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Booking_Details</name>
            <fieldText>Booking Details</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Booking_Details_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Check_In_Date_Time</name>
                    <dataType>DateTime</dataType>
                    <fieldText>Check In Date &amp; Time</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Room_Type</name>
                    <choiceReferences>EconomicalRoom</choiceReferences>
                    <choiceReferences>Delux</choiceReferences>
                    <choiceReferences>SuperDelux</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Room Type</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Service_Type</name>
                    <choiceReferences>HSN</choiceReferences>
                    <choiceReferences>SAC</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Service Type</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Sepcial_Requests_Notes</name>
                    <fieldText>Sepcial Requests or Notes</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Booking_Details_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Check_Out_Date_Time</name>
                    <dataType>DateTime</dataType>
                    <fieldText>Check Out Date &amp; Time</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Room_Number</name>
                    <dataType>Number</dataType>
                    <fieldText>Room Number</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Number_of_Guests</name>
                    <dataType>Number</dataType>
                    <fieldText>Number of Guests</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Booking_Details_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Customer_Booking_Management</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Customer_Address_Var</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Email_Id_Var</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>First_Name_Var</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Last_Name_Var</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Phone_Number_Var</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
